
.Tile img{
    height: auto;
    width: auto;
    border-style: solid;
    border-radius: 20px;
    max-width: 60%;
    max-height: 400px;
    min-width: 40%;
    min-height: 40%;
}


figure {
  width: auto;
  height: auto;
}

.Tile p{ 
    font-size: 1 rem;
    width: 80%;
    margin: 15px auto;
    text-align: justify;
    overflow: hidden;
    
}

.header{
    color: black
}

.select{
    height: 100px;
    min-width: 200px;
    background-color: salmon;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.select:hover{
  opacity: 1;
  color: grey;
  cursor: pointer;
}


.Tile{
    width: 95%;
    height: 95%;
    margin: auto auto;
    opacity: 0.9;
    border-style: hidden;
    border-color: black;
    border-radius: 50px;
    background-color: white;
    opacity: 0.7;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: auto;
}

.Question{
    width: 95%;
    height: 95%;
    margin: auto auto;
    opacity: 0.9;
    border-style: hidden;
    border-color: black;
    border-radius: 50px;
    background-color: white;
    opacity: 0.7;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: auto;
}

.Question #fact{
  margin: 50px auto;
}

.Question .information {
    text-align: center;
    width: 80%;
    margin: auto auto;
}

.Question .followup{
  margin: 10px auto;
  font-weight:bold;
}

.buttonPanel{
    width: 40%;
    height: 40%;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left{
    animation: 0.75s ease-out 0s 1 slideInFromRight;
}

.right{
    animation: 0.75s ease-out 0s 1 slideInFromLeft;
}

.ReferenceTile{
  width: 95%;
  height: 95%;
  margin: auto auto;
  opacity: 0.9;
  border-style: hidden;
  border-color: black;
  border-radius: 50px;
  background-color: white;
  opacity: 0.7;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: auto;
}

.ReferenceButton{
  width: 120px;
  height: 50px;
  border-style: none;
  margin: 10px auto;
  background-color: grey;
  opacity: 0.5;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.ReferenceButton:hover{
  opacity: 0.8;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }