
img{
    height: 60%;
    width: 60%;
    border-style: solid;
    border-radius: 20px;
}

p{ 
    font-size: 1 rem;
    width: 80%;
    margin: auto auto;
    text-align: justify;
    overflow: hidden;
    
}

header{
    color: black
}

.Tile{
    width: 95%;
    height: 95%;
    margin: auto auto;
    opacity: 0.9;
    border-style: hidden;
    border-color: black;
    border-radius: 50px;
    background-color: white;
    opacity: 0.8;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: auto;
}